<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery-1.11.3.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- 自定义CSS样式 -->
    <link rel="stylesheet" href="static/css/goods.css">
    <!-- 自定义字体 -->
    <link rel="stylesheet" type="text/css" href="static/fonts/my-font/iconfont.css">
</head>

<body>
    <div class="sell-goods-detail">
        <div class="sell-goods">
            <div class="sell-goods-left">
                <div class="sell-goods-img">
                    <img src="static/images/xiaomi-1.jpg" alt="">
                    <a href="" class="prev"></a>
                    <a href="" class="next"></a>
                    <div class="cont-index">
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                    <!-- 蒙版 -->
                    <div class="mengban"></div>

                </div>
            </div>
            <div class="sell-goods-right">
                <img alt="">
            </div>

        </div>
    </div>
</body>

</html>