<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <style>
        /* thead tr th {
            text-align: center;
        } */
    </style>
</head>

<body>
    <button class="btn btn-info" onclick="loadXMLDoc()">获取信息</button>
    <script src="static/js/my_ajax.js"></script>
    <table class="table table-bordered table-hover table-striped" style="width:300px">
        <caption>省-城市-区/县</caption>
        <thead>
            <tr>
                <th style="width:50px">省名</th>
<th style="width:50px">城市</th>
<th style="width:50px">区/县</th>
            </tr>
        </thead>
        <tbody>
            <tr>
<td style="width:100px">湖北省</td>
<td style="width:100px">黄石市</td>
<td style="width:100px">大冶市</td>
            </tr>
        </tbody>
    </table>
    <span id="content">

    </span>
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>